<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Pharma-see</title>

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- header section strats -->
 <table class="header-table">
  <tr>
    <td>
      <a th:href="@{/}">
        <img alt="" src="images/logo.png" style="vertical-align:middle;">
        <span style="margin-left:10px; font-weight:bold; font-size:20px">Pharma-see</span>
      </a>
    </td>
    <td>
      <a th:href="@{/medicine}" style="text-decoration:none;">
        <span style="margin-left:10px;">Medicine</span>
      </a>
    </td>
    <td>
      <a th:href="@{/contact}" style="text-decoration:none;">
        <span style="margin-left:10px;">Contact</span>
      </a>
    </td>
     <td>
      <a th:href="@{/search}" style="text-decoration:none;">
        <span style="margin-left:10px;">Search</span>
      </a>
    </td>
         <td>
      <a th:href="@{/searchorder}" style="text-decoration:none;">
        <span style="margin-left:10px;">Search</span>
      </a>
    </td>
    <td>
      <a th:href="@{/cart}" style="text-decoration:none;">
        <img alt="" src="images/shopping-cart.png" style="vertical-align:middle;">
        <span style="margin-left:10px;">Cart</span>
      </a>
    </td>
        <td>
      <a href="/admin" style="text-decoration:none;">
        <span style="margin-left:10px;">Admin</span>
      </a>
    </td>
  </tr>
</table>
                <div class="btn_container-index">
					<a th:href="@{'/makeorder'}">Order Now</a>
                </div>

<table class="classtable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.name}">Name</td>
      <td class="price" th:text="${product.price}">Price</td>
    </tr>
    <tr>
      <td>Final</td>
      <td id="price"></td>
      <td></td>
    </tr>
  </tbody>
</table>

<section class="container-fluid footer_section">
    <p>
      Magdalena Dobek
    </p>
  </section>
  <!-- footer section -->
</body>
<script>
let prices = document.querySelectorAll(".price");
let totalPrice = 0;
prices.forEach(price => {
    totalPrice += parseFloat(price.textContent);
});
let finalPrice = document.getElementById("price");
finalPrice.textContent = totalPrice;
</script>
</html>